.unauth-layout {
  width: 100vw;
  height: 100vh;
  background-image: url("../../images/background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .unauth-action-view {
    display: inline-block;
    padding: 40px;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 10px;
    margin-right: 10%;
  }
}

.login-view {
  .title {
    margin: 0;
    margin-bottom: 2.5rem;
  }

  label {
    display: block;
    font-style: italic;
    color: #999;
    padding-left: .5rem;
  }
  input {
    padding: 1.5rem 1rem;
    font-size: 1.5rem;
    display: block;
    border-radius: .5rem;
    outline: none;
    min-width: 20rem;
    margin: .5rem 0;
    border: 1px solid #eee;
  }
  .actions {
    margin-top: 3rem;
    text-align: center;
  }
}
