.btn {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  border: 2px solid;
  padding: 1rem 1.5rem;
  border-radius: .5rem;
  font-size: 1.4rem;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

// +++++++++++++++++++++++++++++++++++++++++++++++++++
// STYLING OF THE BUTTON ACCORDING TO DIFFERENT THEME
// +++++++++++++++++++++++++++++++++++++++++++++++++++
.btn-primary {
  background-color: #498ea2;
  border-color: darken(#498ea2, 10);
  color: #fff;
}

.btn-secondary {
  background-color: #dd483f;
  border-color: darken(#dd483f, 10);
  color: #fff;
}

.btn-inverse {
  background-color: #fff;
  border-color: darken(#ffffff, 10);
  color: darken(#498ea2, 10);
}
