.app-jokes {
    font-size: 1.5rem;
}

.app-joke, .app-joke-error {
    text-align: center;
    padding: 2rem;
    background-color: #E0F2F1;
    color: #00695C;
    font-size: 3rem;
    border: 2px solid #80CBC4;
    max-width: 60rem;
    border-radius: 1rem;
    display: inline-block;
}

.app-joke-error {
    background-color: indianred;
    color: aliceblue;
    font-size: 1.5rem;
    border: 2px solid darkred;
}

.back-home {
    margin-top: 5rem;
}