@import '../../utils/_colors.scss';

.row .sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 99;
  padding: 20px;
  background: $white;
  border-right: 1px solid $light-grey;
}
