@import '../../utils/_colors.scss';

.login-container.container{
  max-width: 600px;

  .login {
    padding: 2rem;
    margin: 0;
    background: $white;
    border: 1px solid $light-border;
    border-radius: 5px;
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;

    .branding{
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 1px solid $light-border;

      @media screen and (max-width: 576px) {
        border-right: none;
        border-bottom: 1px solid $light-border;
      }
    }
  }
}

.login-fail{
  animation:shake .5s .05s 1;
}

@keyframes shake{
  0%,100%{
    transform: translateX(0);
  }
  20%,60%{
    transform: translateX(-10px);
  }
  40%,80%{
    transform: translateX(10px);
  }
}
