html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 10px;
}


a {
  padding: 1rem;
  background-color: cornflowerblue;
  border-radius: .5rem;
  color: aliceblue;
  font-size: 1.4rem;
  text-decoration: none;
  transition: .2s;
}

a:hover {
  background-color: cadetblue;
}