@import './utils/_colors.scss';

html,
body {
  font-size: 14px;
}

body {
  font-size: 1rem;
}

main {
  margin-top:56px;
}

.unauth-layout {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: $light-grey;
}

// Spinner
@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
.spinner {
  display: block;
  border: 6px solid $light-border;
  border-left-color: $dark-grey;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin:auto;
  animation: spin 1.2s linear infinite;
}

.spinner-container {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
